@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.parsed {
    max-width: 1140px;
    max-height: 430px;
}
.parsing_resources {
    max-height: 414px;
}
